version: "3.8"
services:
  keg-herkin:
    ipc: host
    privileged: true
    environment:
      - HERKIN_APP_URL
      - HERKIN_ROOT_DIR
      - HERKIN_TESTS_ROOT
      - HERKIN_REPORTS_DIR
      - HERKIN_STEPS_DIR
      - HERKIN_FEATURES_DIR
      - HERKIN_UNIT_DIR
      - HERKIN_SUPPORT_DIR
      - HERKIN_WAYPOINT_DIR
      - DOC_APP_PATH
      - DOC_BUILD_PATH
      - ENV
      - KEG_EXEC_CMD
      - KEG_DOCKER_EXEC
      - KEG_PROXY_PORT
      - NODE_ENV
      - API_PORT
      - NO_VNC_PORT
      - VNC_SERVER_PORT
    ports:
      - ${API_PORT}:${API_PORT}
      - ${NO_VNC_PORT}:${NO_VNC_PORT}
      # Only expose this port if we want to expose the VNC server outside the container
      # - ${VNC_SERVER_PORT}:${VNC_SERVER_PORT}
