Dockerfile
.git
.cache
*.md
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
yarn-error.log
*.log
reports/
core/base/assets/index.js
# macOS
.DS_Store
.vscode
tmp
.expo-shared
node_modules
logs
**/.git
**/.DS_Store
temp
.temp
browser-meta.json
tests
repos/example